# MongoDB
MONGODBURL=mongodb://localhost:27017

# JWT
JWT_SECRET=your_jwt_secret_key_here

# LLM Provider (ollama ou openai)
PROVIDER=ollama
PROVIDER_URL=http://localhost:11434
PROVIDER_API_KEY=

HDFS_WEBHDFS_URL=http://hdfs-namenode:9870/webhdfs/v1
AIRFLOW_BASE_URL=http://airflow-webserver:8080
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin